{% extends 'base.html' %}
{% load static %}

{% block title %}Home - {{ block.super }}{% endblock %}

{% block content %}
<!-- Hero image and title -->
<div class="hero-container">
    <div class="title position-absolute top-50 start-50 translate-middle text-center">
        <span>Welcome to</span>
        <h1>Husman Moderna</h1>
    </div>
</div>
<!-- Cards -->
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card" id="card1">
                <img src="{% static 'images/ragu.jpg' %}" class="card-img-top img-fluid" alt="Ragu Bolognese">
                <div class="card-body">
                    <div class="button-container">
                        <a class="btn btn-custom card-title-button" href="{% url 'menu' %}">See The Menu</a>
                    </div>
                    <p class="card-text">Each meal is meticulously prepared to merge classic home-cooked comfort with
                        inventive flavor
                        combinations. From Italian classics
                        that have found their place in the hearts of Swedish homes, to traditional Swedish dishes
                        presented with a modern interpretation.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card" id="card2">
                <img src="{% static 'images/book-table.jpg' %}" class="card-img-top img-fluid" alt="Restaurant table">
                <div class="card-body">
                    <div class="button-container">
                        <a class="btn btn-custom card-title-button" href="#">Book Reservation</a>
                    </div>
                    <p class="card-text">Reserve a table at our restaurant and immerse yourself in the warmth of
                        home-cooked
                        meals, all within the inviting ambiance of our dining space. Experience the perfect blend of
                        homely
                        comfort and the delight of dining out.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card" id="card3">
                <img src="{% static 'images/leave-review.jpg' %}" class="card-img-top img-fluid" alt="Writing in book">
                <div class="card-body">
                    <div class="button-container">
                        <a class="btn btn-custom card-title-button" href="#">Leave Review</a>
                    </div>
                    <p class="card-text">We treasure your feedback and invite you to share your dining experience with
                        us.
                        Your insights are invaluable
                        in
                        helping us enhance our service. Please leave a review and let us know how your visit
                        was. We look forward to hearing from you.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}