{% extends 'base.html' %}

{% block title %}Large Reservation - {{ block.super }}{% endblock %}

{% block content %}
<!-- Hero section with the large reservation title -->
<div class="hero-container">
    <div class="title position-absolute top-50 start-50 translate-middle text-center">
        <h1>Large Reservation</h1>
    </div>
</div>

<!-- Reservation instruction -->
<h4 class="reservation-instruction">Please fill in the fields below and press the Send button. We will get back to you
    as soon as we can
    within
    24 hours.</h4>

<!-- Container for the large reservation form -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <!-- Form for booking a large reservation -->
            <form id="large-reservation-form" class="needs-validation" novalidate>
                <div class="mb-3">
                    <input type="text" class="form-control" name="name" placeholder="Your Name*" required>
                    <div class="alert alert-danger d-none" id="nameAlert">Name is required.</div>
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" name="email" placeholder="Your Email*" required>
                    <div class="alert alert-danger d-none" id="emailAlert">A valid email is required.</div>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="phone" placeholder="Your Phone Number*" required>
                    <div class="alert alert-danger d-none" id="phoneAlert">A valid phone number is required.</div>
                </div>
                <div class="mb-3">
                    <input type="date" class="form-control" name="date" required>
                    <div class="invalid-feedback">
                        Please choose a date.
                    </div>
                </div>
                <div class="mb-3">
                    <select class="form-control" name="time" required>
                        <option value="">Select a time</option>
                        <option value="11:00">11:00</option>
                        <option value="12:00">12:00</option>
                        <option value="13:00">13:00</option>
                        <option value="14:00">14:00</option>
                        <option value="15:00">15:00</option>
                        <option value="16:00">16:00</option>
                        <option value="17:00">17:00</option>
                        <option value="18:00">18:00</option>
                        <option value="19:00">19:00</option>
                        <option value="20:00">20:00</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a time.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="number" class="form-label">Number of Guests (9-20)*</label>
                    <input type="number" class="form-control" name="number" min="9" max="20" required>
                    <div class="invalid-feedback">
                        Please enter a number of guests between 9 and 20.
                    </div>
                </div>
                <div class="mb-3">
                    <textarea class="form-control" name="message" placeholder="Message (optional)"></textarea>
                </div>
                <button type="submit" class="btn btn-custom send-review-button">Send</button>
            </form>
        </div>
    </div>
</div>
<!-- Success Toast -->
<div class="toast-container position-fixed top-50 start-50 translate-middle">
    <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
        <div class="toast-header">
            <strong class="me-auto">Success</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Your reservation has been successfully submitted!
        </div>
    </div>

    <!-- Failed Toast -->
    <div id="failedToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
        <div class="toast-header">
            <strong class="me-auto">Failed</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            There was a problem with your reservation. Please try again.
        </div>
    </div>
</div>



{% endblock %}

{% block extras %}
<!-- Including EmailJS SDK -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
</script>
<!-- Initialization of EmailJS with publicKey -->
<script type="text/javascript">
    (function () {
        emailjs.init({
            publicKey: "pjbXCL5FNxV9cpYEo",
        });
    })();
</script>
<!-- JavaScript to handle form submission -->
<script type="text/javascript">
    window.onload = function () {
        const form = document.getElementById('large-reservation-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            // Initial hide alerts
            document.getElementById('nameAlert').classList.add('d-none');
            document.getElementById('emailAlert').classList.add('d-none');
            document.getElementById('phoneAlert').classList.add('d-none');

            // Trim whitespace from beginning and end of the input fields
            const name = form.elements['name'].value.trim();
            const email = form.elements['email'].value.trim();
            const phone = form.elements['phone'].value.trim();

            let valid = true;

            // Validate each field and display alert if necessary
            if (!name) {
                document.getElementById('nameAlert').classList.remove('d-none');
                valid = false;
            }
            if (!email || !/^\S+@\S+\.\S+$/.test(email)) {
                document.getElementById('emailAlert').classList.remove('d-none');
                valid = false;
            }
            if (!/^\d+$/.test(phone)) {
                document.getElementById('phoneAlert').classList.remove('d-none');
                valid = false;
            }

            // If all validations pass, submit the form with EmailJS
            if (valid && form.checkValidity()) {
                emailjs.sendForm('service_e8pf4l4', 'booking_form123', this)
                    .then(() => {
                        var toastEl = document.getElementById('successToast');
                        var toast = new bootstrap.Toast(toastEl);
                        toast.show();
                        setTimeout(function () {
                            window.location.href = '/home';
                        }, 5000);
                    }, (error) => {
                        var toastEl = document.getElementById('failedToast');
                        var toast = new bootstrap.Toast(toastEl);
                        toast.show();
                        console.error('FAILED...', error);
                    });
            } else {
                // Highlight validation errors
                form.classList.add('was-validated');
            }
        });
    }
</script>
{% endblock %}