/* Reset CSS to normalize styles across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* Basic typography */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;

}

main {
    flex: 1 0 auto;
    background-color: #fff;
}

.logo {
    height: 100px;
    width: auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.menu-item {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-item h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.menu-item p {
    color: #666;
    font-size: 16px;
    margin-bottom: 10px;
}

.menu-item .price {
    color: #27ae60;
    font-size: 20px;
    font-weight: bold;
}

/* Footer */
footer {
    flex-shrink: 0;
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.icons {
    height: 2rem;
    margin: 1rem;
}

.copyright {
    
}