@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Playfair+Display&display=swap');

/* Reset CSS to normalize styles across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif !important;
    line-height: 1.6;
    display: flex;
    flex-direction: column;

}

/* Header */
.navbar-custom {
    background-color: rgba(255,204,0,255);
}

.logo {
    height: 100px;
    width: auto;
    border-radius: 1rem;
}

.nav-link {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.menu-item {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-item h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.menu-item p {
    color: #666;
    font-size: 16px;
    margin-bottom: 10px;
}

.menu-item .price {
    color: #27ae60;
    font-size: 20px;
    font-weight: bold;
}

/* Main Content */
main {
    flex: 1 0 auto;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

.title {
    position: relative;
    z-index: 1;
}

.title span {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(33, 32, 32, 0.7);
}

.title h1 {
    text-shadow: 2px 2px 4px rgba(33, 32, 32, 0.7);
}

.hero-container {
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: url('../images/husman-moderna.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.4);
}

.card-group {
    gap: 4rem;
}

.card-img-top {
    height: 15rem;
}

#card1 {
    margin: 2rem;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 2rem;
}

#card2 {
    margin: 2rem;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 2rem;
}

#card3 {
    margin: 2rem;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 2rem;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.card-title-button {
    font-size: 1.25rem;
    font-family: 'Playfair Display', serif;
}

.btn-custom {
    background-color: rgba(57,96,127,255);
    color: #fff;
}

.btn-custom:hover {
    background-color: rgba(57, 96, 127, 0.8);
}

/* Footer */
footer {
    flex-shrink: 0;
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.icons {
    height: 1rem;
    margin: 0.5rem;
    fill: #fff;
}

.info-text {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.copyright {
    margin: 20px 0 5px 0;
    font-size: 0.8rem;
}