{% extends 'base.html' %}
{% load static %}

{% block title %}Menu - {{ block.super }}{% endblock %}

{% block content %}

<!-- Hero section with the menu title -->
<div class="hero-container">
    <div class="title position-absolute top-50 start-50 translate-middle text-center">
        <h1>Our Menu</h1>
    </div>
</div>

<!-- Menu container -->
<div class="menu-container">
    <!-- Appetizers section -->
    <div class="menu-section">
        <h2>Appetizers</h2>
        <ul class="list-group">
            {% for dish in appetizers %}
            <li class="list-group-item">
                <h5>{{ dish.name }}</h5>
                <p class="dish-description">{{ dish.description }}</p>
                <p>{{ dish.price }} €</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- Main Courses section -->
    <div class="menu-section">
        <h2>Main Courses</h2>
        <ul class="list-group">
            {% for dish in main_courses %}
            <li class="list-group-item">
                <h5>{{ dish.name }}</h5>
                <p class="dish-description">{{ dish.description }}</p>
                <p>{{ dish.price }} €</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- Desserts section -->
    <div class="menu-section">
        <h2>Desserts</h2>
        <ul class="list-group">
            {% for dish in desserts %}
            <li class="list-group-item">
                <h5>{{ dish.name }}</h5>
                <p class="dish-description">{{ dish.description }}</p>
                <p>{{ dish.price }} €</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}