{% load static %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Husman Moderna{% endblock %}</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
    <!-- Bootstrap CSS -->
    {% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
        integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% endblock %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Header -->
    <header>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="container-fluid">
                <!-- Logo -->
                <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logga.jpg' %}"
                        alt="Husman Moderna Logo" class="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <!-- My Reservations Link for logged in users -->
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/my_reservations/' %}active{% endif %}"
                                href="{% url 'reservations:my_reservations' %}">My Reservations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page"
                                href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                                href="{% url 'account_signup' %}">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
                                href="{% url 'account_login' %}">Login</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main content -->
    <main>
        {% if user.is_authenticated %}
        <p class="text-end m-3">You are logged in as {{ user }}</p>
        {% else %}
        <p class="text-end m-3">You are not logged in</p>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-6 col-md-3 text-center">
                <img src="{% static 'images/icons/location-dot-solid.svg' %}" alt="Location Icon" class="icons">
                <p class="info-text">
                    Blomstervägen 79
                    <br>
                    131 97, Stockholm
                </p>
            </div>
            <div class="col-6 col-md-3 text-center">
                <img src="{% static 'images/icons/clock-solid.svg' %}" alt="Clock Icon" class="icons">
                <p class="info-text">
                    Mon-Sun:
                    <br>
                    11:00-23:00
                </p>
            </div>
            <div class="col-6 col-md-3 text-center">
                <img src="{% static 'images/icons/phone-solid.svg' %}" alt="Phone Icon" class="icons">
                <p class="info-text">
                    555-326-9500
                </p>
            </div>
            <div class="col-6 col-md-3 text-center">
                <img src="{% static 'images/icons/envelope-solid.svg' %}" alt="Envelope Icon" class="icons">
                <p class="info-text">
                    contact@husman.com
                </p>
            </div>
        </div>
        <div class="col-8 offset-2 text-center">
            <p aria-label="Copyright" class="copyright">&copy; 2024 Husman Moderna. All rights reserved.</p>
        </div>
    </footer>

    <!-- JavaScript link -->
    {% block onload_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"
        integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endblock %}

    {% block extras %}
    {% endblock %}

</body>

</html>