{% extends 'base.html' %}
{% load static %}

{% block title %}About - {{ block.super }}{% endblock %}

{% block content %}
<!-- Hero image and title -->
<div class="hero-container">
    <div class="title position-absolute top-50 start-50 translate-middle text-center">
        <span>About</span>
        <h1>Husman Moderna</h1>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <p style="text-align: center; font-style: italic;">
                Husman Moderna opened its doors in 2024, nestled in the heart of Södermalm, Stockholm. Here, we embrace
                the essence of traditional Swedish cuisine, reimagined for today's palate. We believe that the culinary
                habits of Swedes have evolved beyond traditional dishes like lapskojs, palt, or blodpudding. Instead, we
                focus on meals that find their way into Swedish homes more frequently today. Dishes such as Bolognese,
                Stroganoff, and Warm-smoked Salmon are prepared with finesse, offering inspired versions that still nod
                to their roots. Alongside these, we also delight in serving Swedish classics like Toast Skagen and
                Sotare, ensuring a menu that's both familiar and intriguing.
            </p>
            <p style="text-align: center; font-style: italic;">
                At Husman Moderna, our philosophy is simple: to offer a dining experience that feels like an extension
                of your own home, yet transports you with each bite. Our inviting venue is designed to be a sanctuary
                where comfort meets sophistication. The interiors blend rustic charm with contemporary elegance,
                creating an atmosphere that encourages conviviality and leisurely dining.
            </p>
            <p style="text-align: center; font-style: italic;">
                Our commitment to quality is unwavering. We source our ingredients from local farmers and producers,
                ensuring that every dish not only supports our community but is of the highest standard. Our menu is a
                testament to our belief in the power of simple ingredients to create extraordinary meals.
            </p>
            <p style="text-align: center; font-style: italic;">
                As the world becomes increasingly interconnected, our menu reflects a blend of local and international
                influences, acknowledging the diverse culinary landscape of modern Sweden. Our chefs are artisans who
                respect the heritage of Swedish cuisine while embracing global techniques and flavors. This fusion is at
                the heart of what makes Husman Moderna unique.
            </p>
            <p style="text-align: center; font-style: italic;">
                We invite you to join us at Husman Moderna, where every visit is an opportunity to explore Swedish
                cuisine redefined. Whether it's a casual lunch, a family dinner, or a special celebration, our team is
                dedicated to making your experience memorable. Step into our world, where the warmth of Swedish
                hospitality meets the excitement of contemporary cuisine. Welcome to Husman Moderna, where tradition and
                innovation dine together.
            </p>
        </div>

        <div class="col-md-6 d-flex justify-content-center">
                <img src="https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/8435ae86-06a6-4bc2-8e21-5be54c15a1d3.gif?ClientID=sulu&Date=1712244278&Signature=98d3aef3919856aa776873f9fa9e76488962940b"
                    alt="Spreading cheese on pasta video" style="max-width:100%; height:auto;" class="img-fluid about-gif">
        </div>
    </div>
</div>
{% endblock %}