{% extends 'base.html' %}
{% load static %}

{% block title %}About - {{ block.super }}{% endblock %}

{% block content %}
<!-- Hero image and title -->
<div class="hero-container">
    <div class="title position-absolute top-50 start-50 translate-middle text-center">
        <span>About</span>
        <h1>Husman Moderna</h1>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6" style="text-align: center;">
            {{ about_page.content|safe }}
        </div>
        <div class="col-md-6 d-flex justify-content-center">
                <img src="https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/8435ae86-06a6-4bc2-8e21-5be54c15a1d3.gif?ClientID=sulu&Date=1712244278&Signature=98d3aef3919856aa776873f9fa9e76488962940b"
                    alt="Spreading cheese on pasta video" style="max-width:100%; height:auto;" class="img-fluid about-gif">
        </div>
    </div>
</div>
{% endblock %}